 /*Extra small devices (portrait phones, less than 576px)*/
 @media (max-width: 575.98px) {

   /*header start*/
   header {
     padding: 20px 0px;
   }

   .menu ul li a {
     padding: 0 !important;
     text-align: right;
   }

   /*header end*/
   /*slider start*/
   .slider {
     margin: 0px;
   }

   .slider_title {
     font-size: 24px;
   }

   .slider_intro {
     font-size: 18px;
   }

   .icons {
     text-align: center;
   }

   .icon_item i {
     font-size: 40px;
     margin-top: 20px;
   }

   /*slider end*/
   /*feature start*/
   .features {
     padding-top: 50px;
     padding-bottom: 45px;
   }

   .features_title {
     font-size: 22px;
   }

   .features_intro {
     font-size: 18px;
     margin-bottom: 35px;
   }

   .f_icon {
     font-size: 45px;
     margin-top: -45px;
   }

   .f_content {
     margin-top: 5px;
     text-align: center;
   }

   /*feature end*/
   /*contact start*/
   .contact {
     padding: 50px 0 50px 0;
   }

   .c_title {
     font-size: 28px;
   }

   .c_intro {
     font-size: 16px;
     line-height: 20px;
   }

   .footer_icon {
     margin: -20px 0px 35px 15px;
   }

   .item_icon a {
     font-size: 40px;
     margin-right: 20px;
   }

   #support-section {
     padding: inherit;
   }

   .form_input {
     height: 45px;
     width: 100%;
   }

   .s_btn {
     height: 45px;
     width: 100%;
     margin-top: 10px;
   }

   .footer_icon {
     text-align: center;
   }

   address {
     text-align: center;
   }

   .f_contact {
     text-align: center;
     margin-top: 35px;
   }

   /*contact end*/
 }

 /*Small devices (landscape phones, 576px and up)*/
 @media (min-width: 576px) and (max-width: 767.98px) {

   /*header start*/
   .menu ul li a {
     padding: 0 !important;
     text-align: right;
   }

   /*header end*/
   /*slider start*/
   .slider {
     margin: 0px;
   }

   .slider_title {
     font-size: 30px;
   }

   .slider_intro {
     font-size: 20px;
   }

   .icons {
     text-align: center;
   }

   .icon_item i {
     font-size: 45px;
     margin-top: 20px;
   }

   /*slider end*/
   /*feature start*/
   .features {
     padding-top: 70px;
     padding-bottom: 70px;
   }

   .features_title {
     font-size: 30px;
   }

   .features_intro {
     font-size: 20px;
     margin-bottom: 30px;
   }

   .f_icon {
     font-size: 45px;
     margin-top: -45px;
   }

   .f_content {
     margin-top: 5px;
     text-align: center;
   }

   /*feature end*/
   /*contact start*/
   #support-section {
     padding: inherit;
   }

   .form_input {
     height: 45px;
     width: 100%;
   }

   .s_btn {
     height: 45px;
     width: 100%;
     margin-top: 15px;
   }

   .footer_icon {
     margin-bottom: 65px;
   }

   address {
     text-align: center;
   }

   .f_contact {
     text-align: center;
     margin-top: 35px;
   }

   /*contact end*/
 }

 /*Medium devices (tablets, 768px and up)*/
 @media (min-width: 768px) and (max-width: 991.98px) {

   /*header start*/
   .menu ul li a {
     padding: 0 !important;
     text-align: right;
   }

   /*header end*/
   /*slider start*/
   .slider {
     margin: 0;
   }

   .slider_title {
     font-size: 27px;
   }

   .slider_intro {
     font-size: 18px;
   }

   .icon_item i {
     font-size: 45px;
     margin-right: 25px;
     margin-top: 35px;
   }

   /*slider start*/
   /*features start*/
   .features {
     padding-top: 100px;
     padding-bottom: 100px;
   }

   /*features end*/
   /*contact start*/
   .form_input {
     width: 100%;
     height: 45px;
   }

   .s_btn {
     width: 100%;
     height: 45px;
   }

   /*contact end*/
 }

 /*Large devices (desktops, 992px and up)*/
 @media (min-width: 992px) and (max-width: 1199.98px) {}

 /*Extra large devices (large desktops, 1200px and up)*/
 @media (min-width: 1200px) {}
